body {
    background-image: url("../images/star_wars_xwing.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}
img {
    width: 225px;
    height: 150px;
}

#mainTitle{
    text-align: center;
}
#characters {
	width:100%;
    display: inline-block;
}

.character {
    display:inline-block;
	font-size: 16px;
	text-align: center;
    margin: 10px 10px 10px 10px;
    background-color: #ffffff;

}

.character-image {
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}

